body {
    background-color: rgb(78, 169, 238);
    font: normal 15pt italic;
}
header {
    color: rgb(0, 0, 0);
    text-align: center;
} 
section {
    background: white;
    border-radius: 10px;
    padding: 10px;/*15px*/
    width: 550px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.356);
    height: 300px;
    
}
footer{
    color: rgb(0, 0, 0);
    font: normal 20px italic;
    text-align: center;
    font-style: italic;
    padding: 1px;
}
input[type="button"] {
    font: normal 20px italic;
    width: 80px; /* Aumenta a largura do botão */
    margin: auto;
    padding: 0 5px 5px 5px;

    
}
select {
    width:210px;
    height: 200px;
}
